@charset "utf-8";
/* CSS Document */
body{
	background:#333;
}
#contenedor{
	width:1920px;
	height:1080px;
	margin:0 auto;
	background:url(../imagenes/fondo1.png) no-repeat;
	position:relative;
	overflow:hidden;}
#uno{
	width:301px;
	height:517px;
	background:url(../imagenes/1.png) no-repeat;
	position:absolute;
	top:650px;
	left:700px;
	animation: uno 5.5s infinite;}
#dos{
	width:301px;
	height:517px;
	background:url(../imagenes/2.png) no-repeat;
	position:absolute;
	top:580px;
	left:1350px;
	animation: dos 5.5s infinite;}
#tres{
	width:301px;
	height:517px;
	background:url(../imagenes/2.png) no-repeat;
	position:absolute;
	top:307px;
	left:401px;
	animation: tres 5.5s infinite;}
#cuatro{
	width:301px;
	height:517px;
	background:url(../imagenes/4.png) no-repeat;
	position:absolute;
	top:650px;
	left:700px;
	animation: cuatro 5.5s infinite;}
#cinco{
	width:301px;
	height:517px;
	background:url(../imagenes/5.png) no-repeat;
	position:absolute;
	top:580px;
	left:1350px;
	animation: cinco 5.5s infinite;}
#seis{
	width:301px;
	height:517px;
	background:url(../imagenes/6.png) no-repeat;
	position:absolute;
	top:307px;
	left:401px;
	animation: seis 5.5s infinite;}
/*--- Animaciones ---*/
@keyframes uno{
	from{left: 670px; top:700px; }
	to{left: 800px; right: 50px; top: 550px;}}

/*-----------------------------------*/
@keyframes dos{
	from{left: 1350px; right:-950px;}
	to{left: 1000px; right: -400px;}}
/*----------------------------------*/
@keyframes tres{
	from{left: 1500px; top: 800px;}
	to{left: 900px; top:580px; right: 0px;}}

@keyframes cuatro{
	from{ left: 800px; right: 50px; top: 550px;}
	to{left: 670px; top:700px;}}
/*-----------------------------------*/
@keyframes cinco{
	from{left: 1000px; right: -400px; }
	to{left: 1350px; right:-950px;}}
/*----------------------------------*/
@keyframes seis {
	from{left: 900px; top:580px; right: 0px;}
	to{left: 1500px; top: 800px;}}